$menu-height: 96px;
$colorPrimary: #6b21d6;

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.menu {
    width: 100%;
    height: $menu-height;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    background-color: white;
    box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu-splash {
  background-color: transparent;
  box-shadow: none;

  a {
      color: white !important;

      &:hover {
        background-color: white !important;
        color: $colorPrimary !important;
      }
  }
}

.logo-button {
  &.hide {
    display: none !important;
  }
}

.light-menu {
    width: 100%;
    height: $menu-height;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    background-color:rgba(4, 180, 49, 0.6);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#menu-center {
  //background-color: blue;
  max-width: 980px;
  height: $menu-height;
  margin: 0 auto;
  padding: 0 16px;

  > * {
    display: inline-block;
    margin-top: ($menu-height - 32px) / 2;
  }

  ul {
    //background-color: red;
    float:right;

    li {
      list-style: none;
      margin: 0;
      display: inline;

      a {
        padding: 0 20px;
        height: 32px;
        display: inline-block;
        font-weight: 600;
        font-size: 0.75em;
        color: black;
        text-decoration: none;
        line-height: 32px;
        border: none;
        border-radius: 16px;
        background-color: transparent;
        transition: background-color .2s, color .2s;

        &.active {
            color: #fff;
            background-color: $colorPrimary;
        }
      }
    }
  }

  #logo-button {
    background: url(../content/logo-menu.png) no-repeat center;
    height: 32px;
    width: 70px;
    border: none !important;
    padding: 0;
    border-radius: 0;
    //background: red;
  }
}

#splash{
  background-color: $colorPrimary;
  background: url(../content/splash-bg.jpg) no-repeat center/cover;
  overflow: hidden;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
  h1,h2,h3,h4,h5,h6 {
    color: #fff;
  }
  h6 {
    font-size: 2em;
    font-weight: 300;
  }
}

#o_vline{
  background-color: #ebebeb;
  height: 100%;
  width: 100%;
}

#oferta{
  background-color: #fff;
  height: 100%;
  width: 100%;
}

#promocje{
  background-color: #ebebeb;
  height: 640px;
  width: 100%;
}

#aktualnosci{
  background-color: #fff;
  height: 640px;
  width: 100%;
}

#kontakt{
  background-color: #121212;
  height: 320px;
  width: 100%;
}
