$colorPrimary: #6b21d6;
// $colorPrimaryLighter: #8d2be3;
// $colorPrimaryDarker: #5015c7;

// $colorPrimary: #4431bb;
$colorPrimary: #733cc0;
$colorPrimaryLighter: #a059de;
// $colorPrimaryDarker: #292a70;
$colorPrimaryDarker: #3a33b7;

$colorPrimaryOnDark: #7339c8;

$colorText: #292929;
$colorTextLighter: rgba(#292929, .75);

$colorTextOnDark: rgba(255,255,255,0.75);
$colorTextOnDarkDarker: rgba(255,255,255,0.5);
$colorTextOnDarkLighter: #fff;

$colorBackgroundDark: #ebebeb;

$colorBorder: rgba(0, 0, 0, 0.25);