@import "_colors.scss";
$menu-height: 96px;

.menu {
  width: 100%;
  height: $menu-height;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 9999;
}

.menu-splash {
  background-color: transparent;
  box-shadow: none;

  #nav-button,
  a :not(.hamburger-menu) {
    color: white !important;

    &:hover {
      background-color: white !important;
      color: $colorPrimary !important;
    }
  }

  .logo-button {
    display: none !important;
  }
}

#menu-center {
  max-width: 980px;
  height: $menu-height;
  margin: 0 auto;
  padding: 0 16px;
  white-space: nowrap;
  display: flex;
  align-items: center; // > * {
  //   // display: inline-block;
  //   //margin-top: ($menu-height - 32px) / 2;
  // }
  .navigation {
    margin-left: auto;
  }

  ul {
    //margin-left: auto;
    //float: right;
    li + li {
      margin-left: 4px;
    }

    li {
      list-style: none;
      margin: 0;
      display: inline;

      a {
        padding: 0 20px;
        height: 32px;
        display: inline-block;
        font-weight: 600;
        font-size: 0.75em;
        color: $colorText;
        text-decoration: none;
        line-height: 32px;
        border: none;
        border-radius: 16px;
        transition: background-color 0.2s, color 0.2s;

        &:hover {
          background-color: rgba(0,0,0,.1);
        }

        &.is-active {
          color: white !important;
          background-color: $colorPrimary !important;
        }
      }
    }
  }

  #logo-button {
    background: url("../assets/logo-menu.png") no-repeat center;
    height: 32px;
    width: 70px;
    border: none !important;
    padding: 0;
    border-radius: 0;
  }
}
$nav-button-height: 48px;

#nav-button {
  display: none;
  color: $colorText;
  margin: ($menu-height - $nav-button-height) / 2;
  margin-right: 0;
  height: $nav-button-height;
  width: $nav-button-height;
  background-color: transparent;
  transition: background-color 0.2s, color 0.2s;
  outline: none;
  cursor: pointer;
  border: {
    radius: $nav-button-height / 2;
    style: none;
  }

  &:hover {
    background-color: rgba(0,0,0,.1);
  }
}
@media all and (max-width: 720px) {
  .hamburger-menu {
    text-align: right;
    align-self: flex-start;

    #nav-button {
      display: initial;
    }

    .menu-section {
      position: fixed;
      right: 0;
      top: $menu-height;
      background-color: #fff;
      box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.15);
      padding: 16px 32px;
      display: block;

      &.hide {
        display: none;
      }

      ul {
        li {
          margin: 8px 0 !important;
          display: block !important;
        }
      }
    }
  }
}
